
body {
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.outer-div {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 77%;
    max-height: 55%;
}
.box1 {
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
    padding: 10% 13%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-heading {
    color: hsl(0, 0%, 100%);
    font-size: 2.1rem;
    font-weight: 700;
    width: 90%;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    margin-top: 10%;
    line-height: 1.7;
    padding-right: 10%;
    width: 91%;
}

.box2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: hsl(277deg 64% 61%);
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

/* img.image-header-desktop {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: auto;
    width: 100%;
    vertical-align: bottom;
    opacity: 0.6;
    
} */

.stats-outer {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
    width: 80%;
}

.stats-inner {
    display: flex;
    flex-direction: column;
}

.stats-heading {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    margin-top: 8%;
}

.stats {
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 907px){
    
    .outer-div{
        display: flex;
        height: 82.5%;
        width: 88%;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    
    .box1{
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0;
    }
    .box2{
        background-image: url(images/image-header-mobile.jpg);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
        height: 200px;
    }
    .main-heading{
        width: 100%;
        font-size: 1.3rem;
    }
    .main-paragraph{
        margin-top: 10%;
        padding-right: 0;
        width: 100%;
        font-size: 12px;
    }
    /* img.image-header-desktop{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
        width: 100%;
        height: 100%;
        vertical-align: bottom;
    } */
    .stats-outer{
        flex-direction: column;
        margin-top: 15%;
        width: 100%;
    }
    .stats-inner{
        margin-right: 0;
    }
    .stats-heading{
        margin-top: 2%;
        margin-bottom: 6%;
    }
}

@media screen and (min-width:600px) and (max-width: 907px){
    .main-heading{
        font-size: 2.2rem;
    }
    .main-paragraph{
        font-size: 1.2rem;
    }
    .box2{
        height: 340px;
    }
    .stats-outer{
        flex-direction: row;
        width: 85%;
        margin: 10% auto;
    }
}